<section id="show">
    
    <div class="container">
    
        <div class="post_category">
        <%= @post.category %>
        </div>
        
        <div class="post_title">
        <%= @post.title %>
        </div>
    
        <hr>
    
        <div class="post_content">
        <%= @post.content.html_safe %>
        </div>
    
    
        <div class="image">
        
        <% if @post.avatar.exists? %>
        <img src="<%= @post.avatar.url %>" style="width:30vw;">
        <% end %>
        
        </div>
        
        <a href="/posts/edit/<%=@post.id %>"> 수정하기</a>
        <a href="/posts/destroy/<%= @post.id %>" data-confirm="삭제 하시겠습니까?" data-method="delete"> 삭제하기</a>
    
    </div>

</section>
